<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.claytobolka.explorerapp.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.claytobolka.explorerapp.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.claytobolka.explorerapp.navigationDrawer.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer" >
        </activity>
        <activity
            android:name="com.claytobolka.explorerapp.progressbar.ProgressBarWithRunnableActivity"
            android:label="@string/title_activity_progess_bar_with_runnable" >
        </activity>
        <activity
            android:name="com.claytobolka.explorerapp.threadsExample.ThreadsExampleActivity"
            android:label="@string/title_activity_threads_example" >
        </activity>
        <activity
            android:name="com.claytobolka.explorerapp.animationsExample.AnimationsActivity"
            android:label="@string/title_activity_animations" >
        </activity>
        <activity
            android:name="com.claytobolka.explorerapp.cameraExample.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.claytobolka.explorerapp.cameraExample.CameraFullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera_full_screen"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
